<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="">
  <%= image_tag('main-bg.png') %>
</div>

<%= link_to("Galleries", galleries_path) %>