<div>
  <center style="font-size: 30px;"> Beverly Beavers Obituary Site</center>  
  <center style="font-size: 30px;">is coming soon!</center>
  </br>
  <center style="font-size: 30px;">Check back in soon to add pictures and share stories.</center>
</div>

</div>