<p id="notice"><%= notice %></p>

<div class='gallery-container col-sm-12'>
  <h1>Galleries</h1>
  <% @galleries.each do |gallery| %>
    <%= render 'gallery_row', gallery: gallery %>
  <% end %>

  <%= link_to 'New Gallery', new_gallery_path %>  
</div>

